<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="老年测评.Properties.Settings.oldmanConnectionString" connectionString="Data Source=.\SQL2005;Initial Catalog=oldman;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>